$primary: #1f2833;
$secondary: #000;
$primary-d: #161c24;
$text: #c5c6c7;
$primary-b: #4dd5ff;

.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #264a75;
  opacity: 0.9;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}

.vue-slider-rail {
  background-color: $primary;
}
